# Build
build/bin

# Frontend
frontend/node_modules
frontend/dist
frontend/package.json.md5

# Server
server/node_modules
server/dist

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Local DB
*.db
*.db-journal
*.db-wal
*.db-shm

# Env
.env